<div style="padding: 30px;">
  <h1>Announcements</h1>
  <mat-spinner *ngIf = "isLoading"></mat-spinner>
  <!-- <div  style="overflow-y: scroll; height:400px; width: 100%;" *ngIf = "!isLoading">
    <div class="container pull-left" *ngFor="let announcement of announcements" style="background-color:#E6E9E5; width: 1000px; height: fit-content;">
      <div class="card">
        <div class="card-header">
         ***
        </div>
        <div class="card-body">
          <h4 class="card-title">{{announcement.title}}</h4>
          <p class="card-text">{{announcement.content}}</p>
          <p class="card-text">{{announcement.date}}</p>
          <p class="card-text" [ngStyle]="{'color': announcement.priority == 'HIGH' ? 'red' : 'green'}">{{announcement.priority}} priority</p>
          <p class="card-text">Validity: {{announcement.validity}}</p>
        </div>
      </div>
    </div>

  </div> -->

  <!-- <h1>Training Programs</h1>
  <div  style="overflow-y: scroll; height:400px; width: fit-content;">

    <div class="container" *ngFor="let trainingProgram of trainingPrograms" style="background-color: #E6E9E5; width: 1000px; height: fit-content;">
      <div class="card">
        <div class="card-header">
          ***
        </div>
        <div class="card-body">
          <h4 class="card-title">{{trainingProgram.title}} ({{trainingProgram.date}}) </h4>
          <p>--------------------------------------------------------------------------------------</p>
          <p class="card-text">{{trainingProgram.description}}</p>
          <p class="card-text">Available for
            <span style="font-weight: 500; text-transform: uppercase;" *ngFor="let ele of trainingProgram.availability.values()">
              {{ele.label}},
            </span>
          </p>
          <p class="card-text">Located at <span style="font-weight: 500; text-transform: uppercase;">{{trainingProgram.location}}</span></p>
        </div>
      </div>
    </div>
    <br><br><br><br>
  </div> -->
</div>
