<section role="navigation">
  <nav
    id="headerID"
    class="
      navbar navbar-expand-lg navbar-anim navbar-inverse
      bg-inverse
      navbar-toggleable-sm
    "
  >
    <a style="font-size: 25px; font-weight: 500" class="navbar-brand" href="#"
      >EMS-SPM</a
    >
    <button
      class="navbar-toggler navbar-toggler-right collapsed"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="OnToggle()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      style="width: 100%"
      [ngClass]="{ collapse: !toggled }"
      class="navbar-collapse"
      id="navbarNav"
    >
      <ul  style="width: 100%" class="navbar-nav">
        <div *ngIf="!loggedIn" class="changeMargin">
          <li>
            <div class="nav-link-border">
              <a routerLink="login/empLogin" class="nav-link">EMPLOYEE LOGIN
                </a>
            </div>
          </li>
          <li>
            <div class="nav-link-border">
              <a class="nav-link" routerLink="login/adminLogin">ADMIN LOGIN</a>
            </div>
          </li>
        </div>
        <div *ngIf="log" class="changeMargin">
          <li>
            <div class="nav-link-border">
              <a (click)="onLogout()" class="nav-link">LOGOUT
                </a>
            </div>
          </li>
        </div>
      </ul>
    </div>
  </nav>
</section>
