
.nav-right{
    float: right;
}

#headerID{
    background-color: #3F51B5;
    width: 100%;
    padding: 30px;
    overflow: hidden;
    transition: 0.4s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

#headerID a{
    color: aliceblue;
}
