<div class="container" style="position: relative">
  <div class="row" style="padding: 30px">
    <div class="col-lg-6 text-center" style="margin: auto">
      <img src="../../../../assets/images/empLogin.png" style="width: 75%" />
    </div>
    <div class="col-lg-6" style="height: 100vh; vertical-align: middle">
      <div class="custom-emp">
        <br />
        <h1 class="text-center" style="font-size: 35px; font-weight: 700">
          CREATE NEW PASSWORD
        </h1>
        <br />
        <form #createPwd="ngForm" (ngSubmit)="onSubmit()">
          <mat-form-field style="width: 100%" class="example-full-width" appearance="fill">
            <mat-label>NIC</mat-label>
            <input type="text" required id="nic" name="nic" #nic="ngModel" [ngModel] matInput />
          </mat-form-field>
          <br />
          <mat-form-field style="width: 100%" class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" (change)="onChange()" required id="pwd" name="pwd" #pwd="ngModel" [ngModel] matInput />
          </mat-form-field>
          <mat-form-field style="width: 100%" class="example-full-width" appearance="fill">
            <mat-label>Confirm Password</mat-label>
            <input type="password" required id="confpwd" name="confpwd" #confpwd="ngModel" [ngModel] matInput />
          </mat-form-field>
          <br /><br />
          <div class="text-center">
            <button class="btn custom-btn-lgn">CREATE NEW PASSWORD</button>
          </div>
          <br />
        </form>
      </div>
    </div>
  </div>
</div>
