.empLogin-anim {
    transform: translateX(30%);
    transition: 0.3s ease-out;
  }
  
  .empLogin {
    transform: translateX(100%);
    position: fixed;
  }
  
  .custom-emp {
    border-radius: 10%;
    line-height: 30px;
    height: fit-content;
    width: 90%;
    margin: 0;
    padding: 10px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    top: 20%;
    background-color: #e8effe;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
  }
  
  @media screen and (max-device-width: 894px) {
    .custom-emp {
      position: relative;
      display: list-item;
    }
  }
  
  .custom-input {
    border-radius: 5%;
    height: 50px;
  }
  
  .custom-btn-lgn {
    background-color: #4455ac;
    color: white;
    font-size: 20px;
  }
  
  .custom-btn-cnp {
    background-color: #ee9e23;
    color: white;
    font-size: 20px;
  }
  
  /* .bgImage{
    background-image: url('../../../../assets/images/empLogin.png');
    background-repeat: no-repeat;
  } */
  