<div class="content" style="padding: 40px; padding-right: 80px; width: 100%">
  <div style= "background-size: auto;">

    <div>
      <p class="h1" >{{ this.title}} Registry</p><br>
    </div>

    <div style="display: flex;">
      <mat-form-field style="width: 30%; margin-right: 20px;" class="example-full-width" appearance="fill">
        <mat-label>Search</mat-label>
        <input id="fullName" name="fullName" #fullName="ngModel" [(ngModel)]="search" matInput />
      </mat-form-field>
      <button style="height: 90%; margin-top: 15px;" mat-raised-button color="primary" [routerLink]="['../report/'+designation]" >GENERATE REPORT</button>
    </div>
    <div style="width: 100%;">
      <table style="width: 100%;" mat-table [dataSource]="employees | filter: search" class="mat-elevation-z8" >
        <ng-container matColumnDef="EMPID">
          <th  mat-header-cell  *matHeaderCellDef>EMPID</th>
          <td mat-cell *matCellDef="let element" style="padding: 10px;"> {{element.empID}} </td>
        </ng-container>

        <ng-container matColumnDef="Full Name">
          <th class="text-center" mat-header-cell *matHeaderCellDef> Full Name </th>
          <td mat-cell *matCellDef="let element" style="padding: 10px;"> {{element.fullName}} </td>
        </ng-container>


        <ng-container matColumnDef="NIC">
          <th class="text-center" mat-header-cell *matHeaderCellDef> NIC </th>
          <td mat-cell *matCellDef="let element" style="padding: 10px;" > {{element.nic}} </td>
        </ng-container>


        <ng-container  matColumnDef="DOB">
          <th class="text-center" mat-header-cell *matHeaderCellDef> DOB </th>
          <td mat-cell *matCellDef="let element" style="padding: 10px;" > {{element.dob}} </td>
        </ng-container>

        <ng-container  matColumnDef="Gender">
          <th class="text-center" mat-header-cell *matHeaderCellDef> Gender </th>
          <td mat-cell *matCellDef="let element" style="padding: 10px;"> {{element.gender}} </td>
        </ng-container>

        <ng-container matColumnDef="Address">
          <th class="text-center" mat-header-cell *matHeaderCellDef> Address </th>
          <td mat-cell *matCellDef="let element" style="padding: 10px;"> {{element.address}} </td>
        </ng-container>

        <ng-container  matColumnDef="Contact No.">
          <th class="text-center" mat-header-cell *matHeaderCellDef> Contact No. </th>
          <td mat-cell *matCellDef="let element" style="padding: 10px;"> {{element.cnumber}} </td>
        </ng-container>

        <ng-container matColumnDef="Email">
          <th class="text-center" mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element" style="padding: 10px;"> {{element.email}} </td>
        </ng-container>

        <ng-container  matColumnDef="DOJ">
          <th class="text-center" mat-header-cell *matHeaderCellDef> DOJ </th>
          <td mat-cell *matCellDef="let element" style="padding: 10px;"> {{element.doj}} </td>
        </ng-container>

        <ng-container  matColumnDef="Medical">
          <th class="text-center" mat-header-cell *matHeaderCellDef> Medical </th>
          <td mat-cell *matCellDef="let element" style="padding: 10px;"> {{element.reason}} </td>
        </ng-container>

        <ng-container  matColumnDef="Action">
          <th class="text-center" mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element" style="padding: 10px;">
            <button mat-raised-button class="yellow" style="width: 90%; margin-bottom: 10px; margin-top: 10px;" [routerLink]="['../edit', element.id]">EDIT</button>
            <br/>
            <button mat-raised-button color="warn" style="width: 90%; margin-bottom: 10px; font-size: x-small;" (click)="onDelete(element.id)">DELETE</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          <!-- <button mat-raised-button color="warn">DELETE</button> -->
        </tr>
      </table>
    </div>

  </div>
  <br><br><br><br><br>
</div>
