h3{
    color: aliceblue;
  }

 div p{
    color:azure;
    text-decoration: none;
    font-size: 20px;
    margin: auto;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 400;
  }

  a{
      color: azure;
      text-decoration: none;
      font-size: 20px;
      margin: auto;
      cursor: pointer;
      font-family: sans-serif;
  }


  a:hover{
      color: #ee9e23;
  }

  mat-sidenav-container {
    height: 100vh;
    color: azure;
    display: flex;
    width: 100%;
    align-items: stretch;
  }

  mat-sidenav {
    background-color: #3f51b5;
    height: 100%;
    width: 300px;
    left: 0;
  }

  mat-expansion-panel{
    background-color: #3f51b5;
    padding: 20px
  }

  mat-accordion{
    height: 100%;
  }

  /* @media (max-width: 768px) {
    #sidebar {
      margin-left: -250px;
    }
    #sidebar.active {
      margin-left: 0;
    }
  } */

  p {
    font-family: "Poppins", sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
  }

