<div class="container" style="position: relative">
  <div class="row" style="padding: 30px">
    <div class="col-lg-6 text-center" style="margin: auto;">
      <img src="../../../../assets/images/empLogin.png" style="width: 75%"/>
    </div>
    <div class="col-lg-6" style="height: 100vh; vertical-align: middle">
      <div class="custom-emp">
        <br />
        <h1 class="text-center" style="font-size: 50px; font-weight: 700">
          Welcome
        </h1>
        <br />
        <form>
          <div class="form-group">
            <input
              type="email"
              class="form-control custom-input"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="EmpID"
            />
          </div>
          <br />
          <div class="form-group">
            <input
              type="password"
              class="form-control custom-input"
              id="exampleInputPassword1"
              placeholder="Password"
            />
          </div>
          <br /><br />
          <div class="row">
            <div class="col-lg-7 text-center">
              <button type="button" class="btn custom-btn-cnp">
                Create New Password
              </button>
            </div>
            <div class="col-lg-5 text-center">
              <button type="submit" class="btn custom-btn-lgn">Submit</button>
            </div>
          </div>
          <br />
        </form>
      </div>
    </div>
  </div>
</div>
