.empLogin-anim{
    transform: translateX(30%);
    transition: .3s ease-out;
}

.empLogin{
    transform: translateX(100%);
    position: fixed;
}


.custom-emp{
  height: 100vh;
  margin: 0;
  position: absolute;
  top: 20%
}

@media screen and (max-device-width: 894px) {
  .custom-emp{
    position: relative;
    display: list-item;
  }
}
